<div class="fixed top-6 lg:right-56 flex gap-3 z-50">
	<button (click)="config.toggleLang()"
		class="btn btn-ghost bg-base-200/50 backdrop-blur border border-base-content/10 rounded-xl px-4 normal-case text-base-content">
		<span class="text-primary font-bold text-base">{{ config.currentLang().toUpperCase() }}</span>
	</button>

	<button (click)="config.toggleTheme()"
		class="btn btn-ghost bg-base-200/50 backdrop-blur border border-base-content/10 rounded-xl px-3 text-primary">
		<i class="bi" [class]="config.currentTheme() === 'custom' ? 'bi-moon-stars-fill' : 'bi-sun-fill'"></i>
	</button>
</div>