@if (visible()) {
<div class="toast fixed bottom-6 right-6 z-50">
	<div class="alert shadow-lg flex items-center gap-3 px-4 py-3 rounded-xl text-white" [ngClass]="{
        'alert-primary': type === 'primary',
        'alert-success': type === 'success',
        'alert-error': type === 'error',
        'alert-warning': type === 'warning',
        'alert-info': type === 'info'
      }">
		<span class="text-sm">{{ message }}</span>
		<button class="btn btn-xs btn-ghost ml-auto text-white" (click)="close()">✕</button>
	</div>
</div>
}