@if (!ticketId()) {
<div class="min-h-[95vh] flex justify-center items-center px-6">
	<div class="w-full max-w-3xl bg-base-200 border border-base-300 shadow-lg rounded-lg p-10">

		<h2 class="text-3xl font-extrabold text-center mb-10">
			Crear Ticket
		</h2>

		<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="space-y-8">

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
				<div class="form-control">
					<label class="label mb-1"><span class="font-semibold">Título</span></label>
					<input id="title" type="text" formControlName="title" placeholder="Ej. Error al iniciar sesión"
						class="input input-bordered w-full" />
				</div>

				<div class="form-control">
					<label class="label mb-1"><span class="font-semibold">Categoría</span></label>
					<select id="category" formControlName="category" class="select select-bordered w-full">
						<option value="">Seleccione una categoría</option>
						<option value="bug">Bug</option>
						<option value="feature">Solicitud de característica</option>
						<option value="support">Soporte</option>
					</select>
				</div>
			</div>

			<div class="form-control">
				<label class="label mb-1"><span class="font-semibold">Descripción</span></label>
				<textarea id="description" formControlName="description" rows="5"
					placeholder="Describe el problema o solicitud..."
					class="textarea textarea-bordered w-full"></textarea>
			</div>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
				<div class="form-control">
					<label class="label mb-1"><span class="font-semibold">Prioridad</span></label>
					<select id="priority" formControlName="priority" class="select select-bordered w-full">
						<option value="">Seleccione la prioridad</option>
						<option value="low">Baja</option>
						<option value="medium">Media</option>
						<option value="high">Alta</option>
					</select>
				</div>

				<div class="form-control">
					<label class="label mb-1"><span class="font-semibold">Adjuntar archivo</span></label>
					<input id="attachment" type="file" (change)="onFileSelected($event)"
						class="file-input file-input-bordered w-full" />
				</div>
			</div>

			<button type="submit"
				class="btn btn-primary w-full h-12 mt-4 font-semibold rounded-lg shadow-md hover:shadow-xl transition">
				Enviar Ticket
			</button>
		</form>
	</div>
</div>
}
@else {
<div class="min-h-[95vh] flex justify-center items-center px-6">
	<div class="w-full max-w-3xl bg-base-200 border border-base-300 shadow-xl rounded-lg p-10">

		@if (ticket()) {
		<div>
			<h3 class="text-2xl font-bold mb-8 text-center">Detalles del Ticket</h3>

			<div class="space-y-4 text-lg">
				<div class="flex justify-between border-b border-t border-base-300 py-2"><strong>Fecha:</strong> {{
					ticket()?.createdAt | date }}
				</div>
				<div class="flex justify-between border-b border-t border-base-300 py-2"><strong>ID:</strong> {{
					ticket()?.ticketId }}</div>
				<div class="flex justify-between border-b border-t border-base-300 py-2"><strong>Título:</strong> {{
					ticket()?.title }}</div>

				<div class="flex justify-between border-b border-t border-base-300 py-2"><strong>Categoría:</strong> {{
					ticket()?.category | titlecase }}
				</div>
				<div class="flex justify-between border-b border-t border-base-300 py-2"><strong>Prioridad:</strong> {{
					ticket()?.priority! | priority }}
				</div>
				<div class="flex justify-between border-b border-t border-base-300 py-2">
					<strong>Status:</strong>
					<app-status-badge [status]="ticket()?.status!"></app-status-badge>
				</div>

				<div class="flex flex-col py-2"><strong class="my-2">Descripción:</strong>
					<div class="font-light text-sm">{{ ticket()?.description }}</div>
				</div>
			</div>
		</div>
		}
	</div>
</div>
}