@import 'tailwindcss';
@import url('node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'custom';
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(20% 0 0);
  --color-base-200: oklch(21.3% 0 0);
  --color-base-300: oklch(24.5% 0 0);
  --color-base-400: oklch(27% 0 0);
  --color-base-content: oklch(86% 0 30);

  --color-primary: oklch(69% 0.18 135);
  --color-primary-content: oklch(22% 0.007 139);

  --color-secondary: oklch(28% 0.005 135);
  --color-secondary-content: oklch(98% 0.01 140);

  --color-accent: oklch(40% 0.16 260);
  --color-accent-content: oklch(100% 0 0);

  --color-neutral: oklch(19.4% 0 0);
  --color-neutral-content: oklch(90% 0.01 30);

  --color-info: oklch(70% 0.12 210);
  --color-success: oklch(75% 0.15 150);
  --color-warning: oklch(85% 0.15 85);
  --color-error: oklch(65% 0.2 25);

  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1.5rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  --primary: #5da329;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

::selection {
  background: var(--primary);
  color: #212121;
  text-shadow: none;
}

.select-neutral *::selection {
  background: #DFDFDF;
  color: #212121;
}

::-moz-selection {
  background: var(--primary);
  color: #eee;
  text-shadow: none;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 650ms ease-out, transform 650ms ease-out;

  @starting-style {
    opacity: 0;
    transform: translateY(0px);
  }
}
