@import 'tailwindcss';
@import url('node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'custom';
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(19% 0 0);
  --color-base-200: oklch(22% 0 0);
  --color-base-300: oklch(28% 0 0);
  --color-base-content: oklch(86% 0 30);

  --color-primary: oklch(69% 0.18 135);
  --color-primary-content: oklch(22% 0.007 139);

  --color-secondary: oklch(26% 0 0);
  --color-secondary-content: oklch(98% 0 140);

  --color-accent: oklch(55% 0.22 260);
  --color-accent-content: oklch(100% 0 0);

  --color-neutral: oklch(86% 0 0);
  --color-neutral-content: oklch(9% 0.01 30);

  --color-info: oklch(70% 0.12 210);
  --color-success: oklch(75% 0.15 150);
  --color-warning: oklch(85% 0.15 85);
  --color-error: oklch(65% 0.2 25);

  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1.5rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;

  --font-sans: "Source Sans 3", ui-sans-serif, system-ui;
}

:root {
  --primary: #5da329;
}

html {
  scrollbar-width: auto;
  scrollbar-color: var(--primary) transparent;
  scroll-behavior: smooth;
}

::selection {
  background: var(--primary);
  color: #212121;
  text-shadow: none;
}

.select-neutral *::selection {
  background: #dfdfdf;
  color: #212121;
}

::-moz-selection {
  background: var(--primary);
  color: #eee;
  text-shadow: none;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-out, transform 500ms ease-out;

  @starting-style {
    opacity: 0;
    transform: translateY(0px);
  }
}
