@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'custom';
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(19% 0 0);
  --color-base-200: oklch(21% 0 0);
  --color-base-300: oklch(28% 0 0);
  --color-base-content: oklch(100% 0 0);

  --color-primary: oklch(66% 0.25 255);
  --color-primary-content: oklch(10% 0 0);

  --color-secondary: oklch(33% 0 0);
  --color-secondary-content: oklch(90% 0 0);

  --color-accent: oklch(65% 0.2 146);
  --color-neutral: oklch(40% 0 0);

  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;

  scrollbar-color: var(--color-primary) transparent;
}

@plugin "daisyui/theme" {
  name: 'garden';
  color-scheme: light;

  --color-base-100: oklch(95% 0 0);
  --color-base-200: oklch(90% 0 0);
  --color-base-300: oklch(80% 0 0);
  --color-base-content: oklch(27% 0 250);

  --color-primary: oklch(68% 0.225 255);
  --color-primary-content: oklch(100% 0 0);

  --color-secondary: oklch(87% 0.009 255);
  --color-secondary-content: oklch(100% 0 0);

  --color-accent: oklch(60% 0.2 250);
  --color-warning: oklch(60% 0.3 100);

  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;

  scrollbar-color: var(--color-primary) transparent;
}

:root {
  --primary: #5da329;
}

html {
  scrollbar-width: auto;
  scroll-behavior: smooth;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-out, transform 500ms ease-out;

  @starting-style {
    opacity: 0;
    transform: translateY(0px);
  }
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
