@if (!id()) {

<section class="min-h-screen bg-base-100 text-zinc-100 fade px-8 lg:pl-24 flex flex-col items-center justify-center">
  <div class="">
	<header class="flex justify-center md:justify-between mb-8">
	  <h1 class="text-center  text-4xl font-black tracking-tight ml-2">
		Crear <span class="text-primary">Ticket</span>
	  </h1>
	</header>
	<div class="bg-zinc-900 border border-white/5 rounded-3xl p-10 shadow-xl">
	  <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="space-y-10">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
		  <div>
			<label class="text-xs font-bold uppercase tracking-wider text-zinc-500 mb-2 block"
			  >Título</label
			>
			<input
			  id="title"
			  type="text"
			  formControlName="title"
			  placeholder="Ej. Error al iniciar sesión"
			  class="input bg-base-100 border-white/10 rounded-2xl w-full"
			/>
		  </div>
		  <div>
			<label class="text-xs font-bold uppercase tracking-wider text-zinc-500 mb-2 block"
			  >Categoría</label
			>
			<select
			  id="categoryName"
			  formControlName="categoryName"
			  class="select bg-base-100 border-white/10 rounded-2xl w-full"
			>
			  <option value="">Seleccione una categoría</option>
			  @for (category of categories(); track category.id) {
			  <option [value]="category.name">{{ category.name }}</option>
			  }
			</select>
		  </div>
		</div>
		<div>
		  <label class="text-xs font-bold uppercase tracking-wider text-zinc-500 mb-2 block"
			>Descripción</label
		  >
		  <textarea
			id="description"
			formControlName="description"
			rows="5"
			placeholder="Describe el problema o solicitud..."
			class="textarea bg-base-100 border-white/10 rounded-2xl w-full"
		  ></textarea>
		</div>
		<div
		  class="grid gap-8"
		  [class]="this.isPremium() ? 'grid-cols-1 md:grid-cols-2' : 'grid-cols-1 md:grid-cols-1'"
		>
		  <div>
			<label class="text-xs font-bold uppercase tracking-wider text-zinc-500 mb-2 block"
			  >Prioridad</label
			>
			<select
			  id="priority"
			  formControlName="priority"
			  class="select bg-base-100 border-white/10 rounded-2xl w-full"
			>
			  <option value="">Seleccione la prioridad</option>
			  @if (this.isPremium()) { @for (priority of premiumPriorities(); track priority) {
			  <option [value]="priority">{{ priority | priority }}</option>
			  } } @else { @for (priority of priorities(); track priority) {
			  <option [value]="priority">{{ priority | priority }}</option>
			  } }
			</select>
		  </div>
		  @if (this.isPremium()) {
		  <div>
			<label class="text-xs font-bold uppercase tracking-wider text-zinc-500 mb-2 block"
			  >Adjuntar Archivo</label
			>
			<input
			  id="attachment"
			  type="file"
			  (change)="onFileSelected($event)"
			  class="file-input bg-base-100 border-white/10 rounded-2xl w-full"
			/>
		  </div>
		  }
		</div>
		<button
		  type="submit"
		  class="btn btn-primary font-bold rounded-2xl w-full h-12 shadow-lg hover:opacity-90"
		>
		  Enviar Ticket
		</button>
	  </form>
	</div>
  </div>
</section>

} @else {

<section class="min-h-screen bg-base-100 text-zinc-100 p-6 md:p-12 ml-20 fade">
  <div class="max-w-4xl mx-auto">
    <header class="mb-12">
      <h1 class="text-5xl font-bold tracking-tight uppercase">
        Ticket <span class="text-primary">Detalles</span>
      </h1>
      <div class="h-1 w-24 bg-primary mt-4 rounded-full"></div>
    </header>

    <div class="bg-zinc-900 border border-white/5 rounded-3xl p-10 shadow-xl">
      @if (ticket()) {
      <div class="space-y-6 text-lg">
        <div class="flex justify-between border-b border-white/10 py-3">
          <strong>Título:</strong> {{ ticket()?.title }}
        </div>
        <div class="flex justify-between border-b border-white/10 py-3">
          <strong>Fecha:</strong> {{ ticket()?.createdAt | date }}
        </div>
        <div class="flex justify-between border-b border-white/10 py-3">
          <strong>Categoría:</strong> {{ ticket()?.categoryName | titlecase }}
        </div>
        <div class="flex justify-between border-b border-white/10 py-3">
          <strong>Prioridad:</strong> {{ ticket()?.priority! | priority }}
        </div>
        <div class="flex justify-between border-b border-white/10 py-3">
          <strong>Status:</strong>
          <app-status-badge [status]="ticket()?.status!"></app-status-badge>
        </div>

        <div>
          <strong class="text-zinc-300 text-base block mb-2">Descripción:</strong>
          <p class="text-sm text-zinc-400 font-light leading-relaxed">
            {{ ticket()?.description }}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
}
